<div class="card shadow-sm my-3 ps-3 py-3 row">
  <div class="justify-self-end text-end">
    <%= link_to '', @budget_item.budget, class: 'btn-close' %>
  </div>
  <%= simple_form_for @budget_item , url: budget_item_path(@budget_item.budget, @budget_item), method: :put do |f| %>
    <%= f.input :category %>
    <%= f.input :amount, as: :integer %>
    <%= f.button :submit, 'Update', class: 'btn btn-secondary' %>
  <% end %>
</div>
