<%= turbo_frame_tag item do %>
  <div>
    <span>
      <%= item.category %>
    </span>
    <span>
      <%= humanized_money_with_symbol(item.amount) %>
    </span>
    <span>
      <%= button_to 'X', budget_item_path(item.budget, item), method: :delete %>
      |
      <%= link_to "edit", edit_budget_item_path(item.budget, item) %>
    </span>
  </div>
  <div>
    <div id="budget_item_<%= item.id %>_tags">
      <%= render item.tags %>
    </div>

    <%= render "budget_items/new_tag_link", item: item %>
  </div>
<% end %>
