<h2><%= @budget.title %></h2>

<div id="budget_total">
  <%= render 'total', budget: @budget %>
</div>

<%= link_to "back", statements_path %>

<%= render 'budget_items/new_form', budget_item: @new_budget_item %>

<% if @budget.items.persisted.any? %>
  <% @budget.items.persisted.each do |item| %>
  <%= render 'budget_items/item', item: item %>
  <% end %>
<% else %>
  <div>Add a budget item</div>
<% end %>
