<h2><%= @budget.title %></h2>

<div id="budget_total">
  <%= render 'total', budget: @budget %>
</div>

<%= link_to "back", statements_path %>

<% if @budget.items.persisted.any? %>
<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Amount</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id="budget_items">
    <%= render @budget.items.persisted %>
  </tbody>
</table>
<% else %>
  <div>Add a budget item</div>
<% end %>
<%= render 'budget_items/form', budget_item: @new_budget_item %>
