<h2><%= @budget.title %></h2>

<div id="budget_total">
  <%= render 'total', budget: @budget %>
</div>

<%= link_to "back", statements_path %>

<div id="budget_item_form">
  <%= render 'budget_items/new_form', budget_item: @new_budget_item %>
</div>

<% if @budget.items.persisted.any? %>
  <section id="budget_items">
    <%= render @budget.items.persisted %>
  </section>
<% else %>
  <div>Add a budget item</div>
<% end %>
