<section>
  <h1><%= @budget.title %></h1>

  <div id="budget_total">
    <%= render 'total', budget: @budget %>
  </div>
</section>

<section class="row">
  <div id="budget_item_form" class="col-6">
    <%= render 'budget_items/new_form', budget_item: @new_budget_item %>
  </div>
  <div id="budget_breakdown" class="col-6">
    <%= render 'breakdown', budget: @budget %>
  </div>
</section>

<% if @budget.items.persisted.any? %>
  <section id="budget_items">
    <%= render @budget.items.persisted %>
  </section>
<% else %>
  <div>Add a budget item</div>
<% end %>
