<h1>statements</h2> 
<% if @current_budget.present? %>
  <%= link_to "Budget", @current_budget %>
<% else %>
  <%= link_to "Create a Budget", new_budget_path %>
<% end %>

<%= turbo_frame_tag 'new_statement' do %>
  <%= render "new_statement_button" %>
<% end %>

<section id="statements">
  <%= render @monthly_statements %>
</section>
