<li>
  <div class="top-level">
    <div>
      <%= transaction.merchant %>
    </div>
    <div>
      <%= transaction.date %>
    </div>
    <div>
      <%= transaction.amount %>
    </div>
  </div>
  <div classs="bottom-level">
    <div>
      <%= transaction.institution_name %>
    </div>
    <div>
      <%= transaction.safe_budget_item_category %>
    </div>
  </div>
</li>
