<%= turbo_frame_tag transaction do %>
  <li class="list-group-item card border-secondary-subtle shadow-sm">
    <div class="row lead">
      <p class="col-9">
        <%= transaction.merchant %>
      </p>
      <p class="col-3 text-center">
        <%= transaction.amount.format %>
      </p>
    </div>
    <div class="row">
      <div class="col-4 small text-center">
        <div class="row justify-items-start">
          <% unless transaction.uncategorized? %>
            <p class="col-4 border-end"><%= transaction.budget_item_category %></p>
          <% end %>
          <p class="col-4 border-end"><%= transaction.institution_name %></p>
          <p class="col-4"><%= transaction.date %></p>
        </div>
      </div>
    </div>
    <% if transaction.uncategorized? %>
      <div class="row col-6">
        <%= simple_form_for :transaction_categorization,
            url: monthly_statement_transaction_categorizations_path(statement),
            method: :post,
            data: { controller: "form", action: "input->form#submit" } do |f| %>
          <%= f.hidden_field :transaction_id, value: transaction.id %>
          <%= f.input :budget_item_id,
              collection: statement_budget_item_categories_for(statement),
              required: false,
              label: false,
              prompt: 'Categorize this transaction' %>
        <% end %>
      </div>
    <% end %>
  </li>
<% end %>
