<%= turbo_frame_tag transaction do %>
  <li class="row border-bottom border-secondary-subtle py-2">
    <div class="row">
      <div class="col">
        <%= transaction.merchant %>
      </div>
      <div class="col">
        <%= transaction.date %>
      </div>
      <div class="col">
        <%= transaction.amount.format %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= transaction.institution_name %>
      </div>
      <div class="col">
        <% if transaction.uncategorized? %>
          <%= simple_form_for :transaction_categorization,
              url: monthly_statement_transaction_categorizations_path(statement),
              method: :post,
              data: { controller: "form", action: "input->form#submit" } do |f| %>
            <%= f.hidden_field :transaction_id, value: transaction.id %>
            <%= f.input :budget_item_id,
                collection: statement_budget_item_categories_for(statement),
                required: false,
                label: false,
                prompt: 'Categorize this transaction' %>
          <% end %>
        <% else %>
          <%= transaction.budget_item_category %>
        <% end %>
      </div>
    </div>
  </li>
<% end %>
