<h1> Statement for <%= @monthly_statement.time_period %></h1?>

<section class=<%= @monthly_statement.met_budget? ? "text-success" : "text-danger" %>>
  <div><%= @monthly_statement.total %> / <%= @monthly_statement.budget.total %></div>
</section>

<section>
  <%= render @monthly_statement.statements %>
</section>
