<section>
  <h1> Statement for <%= @monthly_statement.time_period %></h1>
  <div class="badge bg-<%= @monthly_statement.met_budget? ? "success" : "danger" %>">
    <h3><%= @monthly_statement.total.format %></h3>
  </div>
</section>

<section class="mt-4">
  <div id="monthly_statement_charts">
    <%= render "charts", monthly_statement: @monthly_statement %>
  </div>
</section>

<%= simple_form_for :statement_transaction_search, url: statement_transaction_searches_path do |f| %>
  <%= f.hidden_field :monthly_statement_id, value: @monthly_statement.id %>
  <%= f.submit 'Search' %>
<% end %>

<section>
  <%= turbo_frame_tag 'statement_transaction_list' do%>
    <%= render "statement_transaction_list", monthly_statement: @monthly_statement %>
  <% end %>
</section>
